
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.*
venv/
env/
.venv/
pip-log.txt
*.sqlite3
*.db
*.egg-info/
dist/
build/

poetry.lock

.idea/
.vscode/

node_modules/
package-lock.json
yarn.lock
/dist
/out-tsc
/tmp
*.log
.angular/cache/
.angular/webpack

.DS_Store
Thumbs.db
